<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Bohnen Liebe. Unsere leckeren geröstete Kaffee"
    />
    <link rel="stylesheet" href="/src/css/output.css" />
    <link
      rel="shortcut icon"
      href="/src/assets/fav/roasted-coffee-bean_.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/src/css/style.css" />
    <title>Bohnen Liebe</title>
  </head>
  <body>
    <header class="header-container">
      <a
        class="startseite"
        href="#startseite"
        aria-label="Startseite: BohnenLiebe"
        >BohnenLiebe</a
      >
      <nav class="nav-container" aria-label="Hauptnavigation">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#ueber-uns">Über uns</a></li>
          <li><a href="#produkte">Produkte</a></li>
          <li><a href="#kontakt">Kontakt</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
